@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Records with a fixed failing test</h2>
    <ul>
        @foreach (var vinyl in Model.Vinyls)
        {
            <li>@vinyl.Title by @vinyl.Artist</li>
        }
    </ul>
</div>
